<h2> CS 4630 Final project </h2>

In [14]:
#Importing Libs
import requests
import os, sys
import numpy as np
import pandas as pd
import urllib.request
from bs4 import BeautifulSoup

In [20]:
#Start by pulling in our data from https://www.basketball-reference.com/leagues/NBA_2022_totals.html
#start with giving it the URL
projectURL = "https://www.basketball-reference.com/leagues/NBA_2022_totals.html"
projectPage = urllib.request.urlopen(projectURL).read()
projectSoup = BeautifulSoup(projectPage)

#Next give it the table we want (might add more later on and use 2 tables but this is a start)
basketballTable = projectSoup.find(id = "div_totals_stats")
info = basketballTable.find_all(class_ = "full_table")
basketballDataBody = basketballTable.find("tbody")
basketballTables = basketballDataBody.find_all("tr")

#printing
playerData = pd.DataFrame(columns=["Name", "Age", "Position", "Team", "FG%"])
#playerData['Player Name'] = playerName

#Adding player data into a pandas dataframe
for i in range(len(info)):
    playerDataDict = {
        "Name" : info[i].find("td", {"data-stat" : "player"}).text,
        "Age" : info[i].find("td", {"data-stat" : "age"}).text,
        "Position" : info[i].find("td", {"data-stat" : "pos"}).text,
        "Team" : info[i].find("td", {"data-stat" : "team_id"}).text,
        "FG%" : info[i].find("td", {"data-stat" : "fg_pct"}).text
    }
    playerData.loc[len(playerData)] = playerDataDict
    
playerData

                  Name Age Position Team   FG%
0     Precious Achiuwa  22        C  TOR  .439
1         Steven Adams  28        C  MEM  .547
2          Bam Adebayo  24        C  MIA  .557
3         Santi Aldama  21       PF  MEM  .402
4    LaMarcus Aldridge  36        C  BRK  .550
..                 ...  ..      ...  ...   ...
600     Thaddeus Young  33       PF  TOT  .518
601         Trae Young  23       PG  ATL  .460
602     Omer Yurtseven  23        C  MIA  .526
603        Cody Zeller  29        C  POR  .567
604        Ivica Zubac  24        C  LAC  .626

[605 rows x 5 columns]